<p id="notice"><%= notice %></p>

<h1>Listing Ads</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Adress</th>
      <th>City</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each_with_index do |ad, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= ad.title %></td>
        <td><%= ad.description %></td>
        <td><%= ad.price %></td>
        <td><%= ad.adress %></td>
        <td><%= ad.city %></td>
        <td><%= link_to 'Show', ad %></td>
        <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
        <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Clone', "ads/#{ad.id}/clone" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad', new_ad_path %>
