<div class="col-md-3">
  <%= image_tag @ad.image, class: "img-responsive" %>
</div>

<div class="col-md-9">
  <div class="col-md-12">
    <h4><%= @ad.title %></h4>
    <hr>
  </div>
  <div class="col-md-6">
    <strong>Cena:</strong>
    <h4><%= @ad.price %></h4>
  </div>
  <div class="col-md-6">
    <strong>Adres:</strong>
    <h4><%= @ad.adress %>, <%= @ad.city %> </h4>
  </div>
  <div class="col-md-12">
    <hr>
    <strong>Opis:</strong>
    <%= simple_format @ad.description %> 
  </div>

</div>