<h1>Clone</h1>

<%= form_for @ad, url: '/ads', method: :post do |f| %>
<% if @ad.errors.any? %>
<div id="error_explanation">
	<h2>
		<%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:
	</h2>
	<ul>
		<% @ad.errors.full_message.each do |message|%>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>

<% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :adress %><br>
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="actions">
    <%= f.submit "save" %>
  </div>


<% end %>